body {
    margin:auto;
    background-image:url(background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h2 {
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 10px;
}

h6 {
    font-family: monospace;
    margin-top: 10px;
}
